build/
install/
log/
__pycache__/
*.py[cod]
.pytest_cache/
.vscode/
.idea/

data/bags/*
!data/bags/.gitkeep
data/datasets/raw/*
!data/datasets/raw/.gitkeep
data/datasets/processed/*
!data/datasets/processed/.gitkeep
data/experiments/current/*
!data/experiments/current/.gitkeep
data/models/*
!data/models/.gitkeep

